__pycache__/
*.py[cod]
*$py.class

venv/
.venv/
env/
ENV/
env.bak/
venv/.back

*.log
dbsqlite3
dbsqlite3-journal

media/
staticfiles/

.env
.env.*
!.env.example

.vscode/
.idea/

.DS_store
Thumb.db

.coverage
htmlcov/
.pytest_cache/
.mypy_cache

build/
dist/
*.egg-info

.ipynb_checkpoints/

*.temp
*.tmp
*.swp
*.swo
